.background-home{
  padding-top: 200px;

}
.home {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 50px;

}
.home .home-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 50%;
}
.home .home-body .content-text {
  display: flex;
  justify-content: center;
  gap: 6px;
  flex-direction: column;
}
.content-image {
  flex: 50%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.home .home-body h2 {
  user-select: none;
  
  font-weight: 800;
  font-family: 'Anton';
  font-size: 70px;
  margin: 0;
  letter-spacing:4px;
  line-height:1.1;
}
.typeWriteEffect {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0;
  color: var(--secondary-light);
}
.home .home-body small {
  font-weight: 500;
  color: var(--primary);
}
.img-profile {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  background-color: var(--secondary-light);

  z-index: -1;
}
.img-profile::before {
  width: 100%;
  height: 100%;
  content: "";
  background: url(../../../assets/img/perfil.png);
  filter: drop-shadow(1px 8px 12px black);
  background-size: cover;
  display: block;
  border-radius: 0px 0 50% 50%;
}
.points {
  width: 500px;
  height: 500px;
}
.points::after {
  width: 40px;
  height: 40px;
  content: "";
  background-color: var(--dark);
  
  display: block;
  border-radius: 100%;
  bottom: 96%;
  left: 13px;
  z-index: -1;
}
.big-point {
  width: 25%;
  height: 25%;
  content: "";
  background-color: var(--dark);
  display: block;
  border-radius: 100%;
  position: absolute;
  bottom: 74%;
  z-index: -1;
  right: 23px;
}
.small-point {
  width: 10%;
  height: 10%;
  content: "";
  background-color: var(--dark);
  
  display: block;
  border-radius: 100%;
  position: absolute;
  z-index: -1;
  top: 24%;
  left: -40px;
}

.buttons-body {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

.img-body {
  display: flex;
  gap: 5px;
  margin-top: 20px;
}
.img-body img {
  width: 40px;
  height: 24px;
  cursor: pointer;
  object-fit: contain;
  mix-blend-mode: color-burn;
}
