.container {
  padding-right: 17px;
  padding-left: 17px;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}

.card {
  box-shadow: 1px 2px 14px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }
}
